body
{
    background-color: #E5E5E5;
}
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg-light
{
    background-color: #FDEFF4 !important;
}

.nav-item a
{
    text-decoration: none;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 15px;
    transition: all 0.4s;
    font-weight: bold;
}

.nav-item a:hover
{

}

.search
{
    height: 45px;
    border: 2px solid;
    outline: none;
    border-radius: 20px 0px 0px 20px;
    border-color: #E60965;
}

.btn-search
{
    height: 45px;
    outline: none;
    background-color: #E60965;
    color: #ffff;
    border-radius: 0px 20px 20px 0px;
    border: none;
    transition: all 0.4s;
}

.btn-search:hover
{
    background-color: black;
}

/*icons*/
.bi-cart-fill
{
    font-size: 30px;
    color: #E60965;
    cursor: pointer;
    padding-top: 5px;
    transition: all 0.4s;
}

.bi-cart-fill:hover
{
    color: black;
}

.bi-person-fill
{
    font-size: 30px;
    color: #E60965;
    cursor: pointer;
    padding-top: 5px;
    margin-left: 10px;
    transition: all 0.4s;
}

.bi-person-fill:hover
{
    color: black;
}

/*dropdown di user*/
.dropdown-menu a
{
    color: #E60965;
}

/*main*/
.main
{
    background: url(./image/main.jpg)no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.main h1
{
    font-size: 5rem;
    color: #DA1212;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    
}

.main p
{
    font-size: 1.5rem;
    text-transform: uppercase;
}

/*button*/
.btn-shop
{
    border: none;
    background-color: #E60965;
    color: #ffff;
    border-radius: 10px;
    height: 45px;
    width: 40%;
    font-weight: bold;
    transition: all 0.4s;
}

.btn-shop:hover
{
    background-color: black;
}

.btnc
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 53px;
    width: 40%;
    color: #ffff;
    border: none;
    outline: none;
    background: #E60965;
    cursor: all 0.4s;
}

.btnc:hover
{
    background: #000;
    transition: all 0.4s;
}
/*==================================Store Section==========================*/
.zoom-n-rotate
{
    border-radius: 0;
    outline: none;
    overflow: hidden;
    cursor: pointer;
}

.zoom-n-rotate img
{
    transition: transform .5s ease-in-out;
}
.zoom-n-rotate img:hover
{
    transform: scale(1.5);
}

/*==================================Product Section==========================*/
h1
{
    font-weight: 800;
    font-size: 2.6rem;
}

.link
{
    color: #E60965;
    font-weight: bold;
}

.link:hover
{
    color: #000;
}

.btn-more
{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 53px;
    width: 20%;
    color: #ffff;
    border: none;
    outline: none;
    background: #E60965;
    cursor: all 0.4s;
    border-radius: 20px;
}

.btn-more:hover
{
    background: #000;
    transition: all 0.4s;
}

/*==================================Iconic Section==========================*/
.bi-truck
{
    color: #E60965;
    font-size: 3.5rem;
}

.bi-cart
{
    color: #E60965;
    font-size: 3.5rem;
}

.bi-person
{
    color: #E60965;
    font-size: 3.5rem;
}
.iconic
{
    text-align: justify;
    font-family: 'prompt' , sans-serif;
}

/*==================================Iconic Section==========================*/
.Copy
{
    color: #E60965;
    font-weight: bold;
}